# PostgreSQL
#DATABASE_URL=postgres://user:password@localhost:5432/dbname?sslmode=disable

# MySQL
# DATABASE_URL=mysql://user:password@tcp(localhost:3306)/dbname

# SQL Server
# DATABASE_URL=sqlserver://user:password@localhost:1433?database=dbname

# Oracle
# DATABASE_URL=oracle://user:password@localhost:1521/dbname

# SQLite
# DATABASE_URL=file:database.db

DATABASE_URL=
# Otras configuraciones si es necesario, como log level, etc.
LOG_LEVEL=info
# Names of the files generated for your project
NAME_ARCHIVE=inventory_seed